albumentations==1.1.0
arrow==1.2.2
attrs==21.4.0
boto3==1.23.7
botocore==1.26.7
bravado==11.0.3
bravado-core==5.17.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
efficientnet-pytorch==0.6.3
Fiona==1.8.21
fonttools==4.33.3
fqdn==1.5.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
imageio==2.19.2
importlib-resources==5.7.1
isoduration==20.11.0
jmespath==1.0.0
joblib==1.1.0
jsonpointer==2.3
jsonref==0.2
jsonschema==4.5.1
kiwisolver==1.4.2
matplotlib==3.5.2
monotonic==1.6
msgpack==1.0.3
munch==2.5.0
neptune-client==0.16.2
networkx==2.8.2
numpy==1.22.4
oauthlib==3.2.0
opencv-python-headless==4.5.5.64
packaging==21.3
pandas==1.3.5
Pillow==9.1.1
pretrainedmodels==0.7.4
psutil==5.9.1
pyDeprecate==0.3.2
PyJWT==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-wavelets @ file:///mmfs1/storage/users/thomann/repos/pytorch_wavelets
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
requests==2.27.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
s3transfer==0.5.2
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
segmentation-models-pytorch==0.2.1
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
swagger-spec-validator==2.7.4
threadpoolctl==3.1.0
tifffile==2022.5.4
timm==0.4.12
torch==1.11.0
torchmetrics==0.8.2
torchvision==0.12.0
tqdm==4.64.0
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
uri-template==1.2.0
urllib3==1.26.9
webcolors==1.11.1
websocket-client==1.3.2
zipp==3.8.0
